<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
    <title>Cliente</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <div class="col-sm-6">
            <div th:if="${modo eq 'nuevo'}">
                <form th:action="@{/guardarCliente}" th:object=${cliente} method="POST">
                    <div class="card">
                        <div class="card-header">
                            <h3>Cliente</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" name="idCliente" th:field="*{idCliente}" />
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">Nombre</label>
                                <input class="form-control" type="text" name="nombreCliente" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">Apellido</label>
                                <input class="form-control" type="text" name="apellidoCliente" th:field="*{apellido}" />
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">DNI</label>
                                <input class="form-control" type="text" name="dniCliente" th:field="*{dni}" />
                                <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoCliente" th:field="*{estado}" />
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                            <a class="btn btn-danger" th:href="@{/clientes}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div> <!-- Formulario para guardar un nuevo cliente-->
            <div th:if="${modo eq 'editar'}">
                <form th:action="@{/actualizarCliente}" th:object=${cliente} method="POST">
                    <div class="card">
                        <div class="card-header">
                            <h3>Cliente</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" name="idCliente" th:field="*{idCliente}" />
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">Nombre</label>
                                <input class="form-control" type="text" name="nombreCliente" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">Apellido</label>
                                <input class="form-control" type="text" name="apellidoCliente" th:field="*{apellido}" />
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                            </div>

                            <div class="form-group">
                                <label style="font-weight: bold;">DNI</label>
                                <input class="form-control" type="text" name="dniCliente" th:field="*{dni}" />
                                <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoCliente" th:field="*{estado}" />
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-success" value="Actualizar" />
                            <a class="btn btn-danger" th:href="@{/clientes}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div> <!-- Formulario para actualizar un cliente-->
        </div>
    </div>
</body>

</html>