<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
    <title>DetalleOrden</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <div class="col-sm-6">
        <div th:if="${modo eq 'nuevo'}">
            <form th:action="@{/ordenes/guardarDetalleOrden/} + ${orden.idOrden}" th:object="${detalleOrden}" method="POST">
                <div class="card">
                    <div class="card-header">
                        <h3>DetalleOrden</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="idDetalleOrden" th:field="*{idDetalleOrden}"/>
                        </div>

                        <div class="form-group">
                            <label style="font-weight: bold;">Servicio</label>

                            <select class="form-control" id="servicio" name="servicio" required>
                                <option value="" disabled selected>Selecciona un Servicio</option>
                                <option th:each="servicio : ${servicios}" th:value="${servicio.idServicio}" th:text="${servicio.nombre}" th:selected="${detalleOrden.servicio != null and servicio.idServicio == detalleOrden.servicio.idServicio}" th:data-precio="${servicio.precio}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label style="font-weight: bold;">Precio unitario del servicio</label>
                            <input class="form-control" type="number" name="precioServicio" id="precioServicio" th:value="${precioServicioElegido}" disabled />
                            <!--<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>-->
                        </div>
                        
                        <div class="form-group">
                            <label style="font-weight: bold;">Precio final del servicio</label>
                            <input class="form-control" type="number" name="precioFinalServicio" id="precioFinalServicio" th:field="*{precioFinalServicio}"/>
                            <!--<span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>-->
                        </div>

                        <div class="form-group">
                            <label style="font-weight: bold;">Cantidad</label>
                            <input class="form-control" type="text" name="cantidadDetalleOrden" th:field="*{cantidad}" />
                            <span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></span>
                        </div>


                        
                        <div class="form-group">
                            <label style="font-weight: bold;">Subtotal</label>
                            <input class="form-control" type="number" id="subtotal" disabled />
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="estadoDetalleOrden" th:field="*{estado}"/>
                        </div>

                    </div>

                    <div class="card-footer">
                        <!--                    <input type="submit" value="Guardar" th:if="${modo == 'nuevo'}">
                                            <input type="submit" value="Actualizar" th:if="${modo == 'editar'}"> -->
                        <button type="submit" class="btn btn-success ">Guardar</button>
                        <a  class="btn btn-danger" th:href="@{/ordenes/detallesOrden/} + ${orden.idOrden}">Regresar</a>
                    </div>
                </div>

            </form>
        </div>

        <!--Actualizar-->
        <div th:if="${modo eq 'editar'}">
            <form th:action="@{/ordenes/actualizarDetalleOrden/} + ${orden.idOrden}" th:object="${detalleOrden}" method="POST">
                <div class="card">
                    <div class="card-header">
                        <h3>DetalleOrden</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" name="idDetalleOrden" th:field="*{idDetalleOrden}"/>
                        </div>
                        <div class="form-group">
                            <label style="font-weight: bold;">Servicio</label>

                            <select class="form-control" id="servicio" name="servicio" required>
                                <option value="" disabled selected>Selecciona un Servicio</option>
                                <option th:each="servicio : ${servicios}" th:value="${servicio.idServicio}" th:text="${servicio.nombre}" th:selected="${detalleOrden.servicio != null and servicio.idServicio == detalleOrden.servicio.idServicio}"></option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label style="font-weight: bold;">Cantidad</label>
                            <input class="form-control" type="text" name="cantidadDetalle" th:field="*{cantidad}" />
                            <span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"></span>
                        </div>


                        <div class="form-group">
                            <input type="hidden" name="estadoDetalleOrden" th:field="*{estado}"/>
                        </div>

                    </div>
                    <div class="card-footer">
                        <!--                    <input type="submit" value="Guardar" th:if="${modo == 'nuevo'}">
                                            <input type="submit" value="Actualizar" th:if="${modo == 'editar'}"> -->
                        <button type="submit" class="btn btn-success">Actualizar</button>
                        <a  class="btn btn-danger" th:href="@{/ordenes/detallesOrden/} + ${orden.idOrden}">Regresar</a>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const servicioElegido = document.getElementById('servicio');
        const precioServicioInput = document.getElementById('precioServicio');
        const precioFinal = document.getElementById('precioFinalServicio');

        //console.log(precioServicioInput.value);

        if (precioServicioInput.value !== "") {
            precioServicioInput.classList.add("bg-dark-subtle");                       //Con esta sentencia le vuelvo a poner la clase para el estilo en caso de que se recargue la pagina pero siga habiendo un servicio seleccionado
        }

        servicioElegido.addEventListener('change', function () {                            //Funcion para detectar/escuchar si cambia el servicioElegido en el html
            const selectedOption = servicioElegido.options[servicioElegido.selectedIndex];  //Sacar cual opcion eligió el usuario
            const precioStr = selectedOption.getAttribute('data-precio');                   //Guardar el precio del servicio elegido

            if (precioStr !== null) {                                                       //Verificacion de que el precio no sea null
                const precioNum = parseFloat(precioStr);
                precioServicioInput.classList.add("bg-dark-subtle");                        // Convierte el precio a floar
                precioServicioInput.value = precioNum;                                      //Le setea al value del input del precio unitario del ser vicio, con el precio del servicio
                precioFinal.value = precioNum;
            } else {
                precioServicioInput.classList.remove("bg-dark-subtle");
                precioServicioInput.value = "";                                             //Si es null no setea nada
            }
        });

        // Calcular el subtotal cuando se cambia la cantidad
        const cantidadInput = document.getElementById('cantidad');
        
        cantidadInput.addEventListener('change', function () {
            calcularSubTotal();
        });

        //Calcular subTotal cuando se agrega un precioFinal distinto al que tiene el servicio
        precioFinal.addEventListener('change', function () {
            if (precioFinal !== precioServicioInput.value ) {
                calcularSubTotal();
            }
        })

        //Funcion para calcular el subTotal
        function calcularSubTotal() {
            const subtotalInput = document.getElementById('subtotal');
            const cantidad = parseFloat(cantidadInput.value);
            const precioUnitario = precioFinal.value;

            //console.log(subtotalInput);
            //console.log(cantidad);
            //console.log(precioUnitario);
                            
            if (!isNaN(cantidad) && !isNaN(precioUnitario)) { // Con !isNaN verificamos si es un numero valido o no (is not a number)
                const subtotal = cantidad * precioUnitario;
                subtotalInput.value = subtotal.toFixed(2); // Mostrar el subtotal con 2 decimales
            } else {
                subtotalInput.value = "";
            }   
        }



    });
</script>

</body>
</html>