<!DOCTYPE html>
<html>
    <head>
        <title>Modelos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/}">TALLER MECANICO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link " th:href="@{/marcas}">Marcas</a>
                            <a class="nav-link " href="#">Vehiculos</a>
                            <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                            <a class="nav-link active" aria-current="page" th:href="@{/modelos}">Modelos</a>
                            <a class="nav-link" th:href="@{/tecnicos}">Tecnicos</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">
            <h3>Listado Modelos</h3>
            <br>
            <a th:href="@{/agregarModelo}" class="btn btn-primary">Agregar</a>
            <br>
            <div th:if="${modelo != null and !modelo.empty}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tr th:each="modelo :${modelo}">
                        <td th:text="${modelo.nombre}">Mostrar Nombre</td>
                        <td th:text="${modelo.marca.nombre}">Mostrar Nombre</td>
                        <td> <a class="btn btn-warning" th:href="@{/modificarModelo/} + ${modelo.idModelo}" th:text="Editar"/>
                            <a class="btn btn-danger" th:href="@{/eliminarModelo/} + ${modelo.idModelo}" th:text="Eliminar"/></td>
                    </tr>
                </table>
            </div>
            <br/>
            <div th:if="${modelo == null or modelo.empty}">
                La lista de modelos esta vacia
            </div>
        </div>
    </body>
</html>
